:root
{
    --primary-color: #007bff;
    --primary-color-dark: #0056b3;
    --primary-color-light: #4d94ff;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --body-color: #212529;
    --text-color: #212529;
    --link-color: #007bff;
    --link-hover-color: #0056b3;
    --link-hover-text-decoration: underline;
    --link-hover-border-color: #007bff;
    --border-color: #ced4da;
    --border-radius: 0.25rem;
    --transition: all 0.5s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--text-color);
    background-color: var(--light-color);
}

.quiz-container {
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: var(--transition);
}

button:hover {
    background-color: var(--primary-color-dark);
}

.hidden {
    display: none;
}

.btn-container {
    margin-top: 20px;
    text-align: left;
}

label {
    margin-left: 5px;
    color: var(--text-color);
}

#score {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--success-color);
}